@import "../node_modules/bootstrap/scss/bootstrap.scss";

$block-name: "event-generator";

.#{$block-name} {

  margin-top: 30px;

  &__submit {
    position: absolute;
    right:15px;
    top: 0;
  }

  &__push {
    position: absolute;
    right:15px;
    top: 0;
  }

  &__textarea {
    width: 100%;
    height: 600px;
    font-size:12px;
  }

}

@media (min-width: breakpoint-min(sm)) {}
@media (min-width: breakpoint-min(md)) {
  .#{$block-name} {
  }
}
@media (min-width: breakpoint-min(lg)) {

}

@media (min-width: breakpoint-min(xl)) {
  .#{$block-name} {
  }
}

